<p><%= inspect(@tally) %></p>


<p>Turns left: <%= @tally.turns_left %></p>
<p>Word so far: <%= word_so_far(@tally) %>


<%= form_for @conn, hangman_path(@conn, :make_move), [as: :make_move, method: :put], fn form -> %>
  <%= text_input(form, :guess) %>
  <%= submit("Make next move") %>
<% end %>
